<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="MyConnection"
		  connectionString="Data Source=(localdb)\MSSQLLocalDB;
       Initial Catalog=Warehouse;
       Integrated Security=True;" />
	</connectionStrings>

	<appSettings>
					<!--Задание 3-->
		<!--Отображение всей информации о товаре-->
		<add key="ShowAllInfo" value="SELECT 
									P.Id,
									P.Name,
									TP.Name AS TypeProductName, 
									P.Price,
									P.DateOfDelivery,
									P.Count,
									PR.Name AS ProviderName
								 FROM
									Products P
								 JOIN
									TypeProduct TP ON P.TypeProductId = TP.Id
								 JOIN
									Providers PR ON P.ProviderID = PR.Id"/>
		<!--Отображение всех типов товаров-->
		<add key="ShowAllTypeProduct" value="SELECT FROM TypeProduct"/>
		<!--Отображение всех поставщиков-->
		<add key="ShowAllProviders" value="SELECT FROM Providers"/>
		<!--Показать товар с максимальным количеством-->
		<add key="ShowNameCountMax" value="SELECT TOP 1 * FROM Products ORDER BY Count DESC"/>
		<!--Показать товар с минимальным количеством-->
		<add key="ShowNameCountMin" value="SELECT TOP 1 * FROM Products ORDER BY Count ASC"/>
		<!--Показать товар с минимальной себестоимостью-->
		<add key="ShowNamePriceMin" value="SELECT TOP 1 * FROM Products ORDER BY Price ASC"/>
		<!--Показать товар с максимальной себестоимостью-->
		<add key="ShowNamePriceMax" value="SELECT TOP 1 * FROM Products ORDER BY Price DESC"/>
		
					<!--Задание 4-->
		<!--Показать товары, заданной категории-->
		<add key="ShowProductsByCategory" value="SELECT P.Name
												 FROM Products P
												 INNER JOIN TypeProduct TP ON P.TypeProductID = TP.Id
												 WHERE TP.Name = @CategoryName"/>
		<!--Показать товары, заданного поставщика-->
		<add key="ShowProductsByProvider" value="SELECT P.Name
												FROM Products P
												INNER JOIN Providers PR ON P.ProviderID = PR.Id
												WHERE PR.Name = @ProviderName"/>
		<!--Показать самый старый товар на складе-->
		<add key="ShowOldestProducts" value="SELECT TOP 1 P.Name
											FROM Products P
											ORDER BY P.DateOfDelivery ASC"/>
		<!--Показать среднее количество товаров по каждому типу товара-->
		<add key="ShowAverageProductsCountByType" value="SELECT TP.Name, AVG(P.Count)
														FROM Products P
														INNER JOIN TypeProduct TP ON P.TypeProductID = TP.Id
														GROUP BY TP.Name"/>
		
		
		
		<!--Создание SQL-запроса для получения строки по ID товара-->
		<add key="QueryProductId" value="SELECT TypeProductID, ProviderID FROM Products WHERE Id = @ProductId"/>
		<!--Создание SQL-запроса для бновления данных в таблице "Products"-->
		<add key="UpdateProductsQuery" value="UPDATE Products SET Name = @Name, Price = @Price, DateOfDelivery = @DateOfDelivery, Count = @Count WHERE Id = @ProductId"/>
		<!--Создание SQL-запроса для бновления данных в таблице "Providers"-->
		<add key="UpdateProvidersQuery" value="UPDATE Providers SET Name = @ProviderName WHERE Id = @ProviderID"/>
		<!--Создание SQL-запроса для бновления данных в таблице "TypeProduct"-->
		<add key="UpdateTypeProductQuery" value="UPDATE TypeProduct SET Name = @TypeName WHERE Id = @TypeProductID"/>
	
	</appSettings>
	
</configuration>